.box {
   width: 200px;
   height: 200px;
   background-color: red;
   position: relative;
   top: 100px;
   z-index: 4;

}
.box1 {
   width: 200px;
   height: 200px;
   background-color: yellow;
   position: relative;
   z-index: 1;
   
}